---
layout: page
title: resources
permalink: "/resources/"
redirect_from: "/scratchpad/"
---

<p>The resources below represent a working notebook of tutorials, topics, and resources. More guides are added if and when they are produced. Note also that some resources may be particular to certain cohort years and reference ongoing conversations.</p>
<div class="resources">
  <div class="general">
    <h2>General</h2>
    <ul>
      {% assign resources = site.resources | sort: 'title' %}
      {% for resource in resources %}
        {% if resource.type == 'general'%}
        <li>
          <a href="{{ resource.permalink }}">{{ resource.title }}</a>
        </li>
        {% endif %}
      {% endfor %}
      <li>
        <a href="/assets/orientation-and-praxis.pptx">Introduction to Praxis</a>
      </li>
      <li>
        <a href="/assets/workshop-on-workshops/workshop-on-workshops.pptx">Workshop on Workshops</a>
      </li>
      <li>
        <a href="/assets/mind-mapping-your-pedagogy.pptx">Mind Mapping Your Pedagogy</a>
      </li>
      <li>
        <a href="/assets/writing-about-pedagogy.key">Writing about Pedagogy</a>
      </li>
      <li>
        <a href="/assets/project-planning-and-management.pdf">Project Planning and Management</a>
      </li>
    </ul>
  </div>
  <div class="codelab">
    <h2>CodeLab</h2>
    <ul>
      {% for resource in resources %}
        {% if resource.type == 'codelab'%}
          <li>
            <a href="{{ resource.permalink }}">{{ resource.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
      <li>
        <a href="https://github.com/scholarslab/CodeLab">CodeLab Curriculum</a>
      </li>
    </ul>
  </div>
  <div class="designlab">
    <h2>DesignLab</h2>
      <ul>
      {% for resource in resources %}
        {% if resource.type == 'designlab'%}
          <li>
            <a href="{{ resource.permalink }}">{{ resource.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
      <li>
        <a href="https://designlab.jeremyboggs.net/](https://designlab.jeremyboggs.net/">Design lab curriculum</a>
      </li>
    </ul>


  </div>
</div>
<div class="legacy">
    <h2>Legacy</h2>
  These legacy resources represent early teaching materials used in the Praxis program. While they're no longer actively taught or maintained, we share them here as they represent an important history of the program.
    <ul>
      {% assign resources = site.resources | sort: 'title' %}
      {% for resource in resources %}
        {% if resource.type == 'legacy'%}
        <li>
          <a href="{{ resource.permalink }}">{{ resource.title }}</a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>