---
layout: default
description: The Praxis Program at the Scholar's Lab
tags: praxis-program
javascript:
  - /javascripts/jquery.zrssfeed.js
---
<div id="featured">
<div id="current-project">
    <em class="eyebrow">Current Project</em>
    <h1>Time</h1>
    <p>Praxis is experimenting with time&mdash;rather, how to represent time physically and digitally. We are sharing blog posts, rough notes, and sketches.</p>
    <p><a href="/time/">See our research on time</a></p>
</div>
<div id="local-info">
    <em class="eyebrow">What We're Working On</em>
    <h1>The Fellows are here!</h1>
    <p>Right now, we are working on version control and the command line. Follow along with our <a href="http://praxis.scholarslab.org/scratchpad/intro-to-version-control/">Git Tutorials</a> and the <a href="http://praxis.scholarslab.org/scratchpad/bash/">Command Line Bootcamp.</a></p>
        <a href="/scratchpad/">See All Topics</a>
</div>
{% if page.tags %}
<div id="blog">
    <!-- <div id="posts"><ul></ul></div>
    <script>
    $(document).ready(function () {
        $('#posts ul').rssfeed('{{ site.basefeed }}/tag/{{ page.tags }}/feed', {
            limit: 3,
            header: false,
            titletag: 'li',
            date: false,
            content: false,
            errormsg: 'There are currently no posts for this topic.',
            snippet: true,
            key: '{{ site.gapi_key }}'
        });
    });
    </script> -->
    <div id="posts">
      <ul class="rssFeed">
        <h2>Recent Blog Posts</h2>
        <article>
          {% for post in site.categories.blog limit:3 %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </article>
      </ul>
    </div>
</div>
{% endif %}
</div>
<div id="pitch">
    <p>The Praxis Program reimagines graduate methodological training for the demands of the humanities in the digital age.</p>
    <p>Our goal is to equip knowledge workers for positions within and beyond the academy at a moment in which new questions can be asked and new systems built. The Praxis Program produces humanities scholars who can reach new audiences and are as comfortable writing code as they are managing teams and budgets.</p>
</div>
