---
---

:root {
	/* Brand Fonts */
	--franklin-gothic-urw: franklin-gothic-urw, Arial, sans-serif;
	--franklin-gothic-urw-comp: franklin-gothic-urw-comp, Arial, sans-serif;
	--franklin-gothic-urw-cond: franklin-gothic-urw-cond, Arial, sans-serif;
	--adobe-caslon-pro: adobe-caslon-pro, Garamond, serif;
	--bodoni-urw: bodoni-urw, serif;

	/* Brand Color Palette*/
	--uvalib-main-rotunda-orange: #E57200;
	--uvalib-main-jefferson-blue: #232D4B;
	--uvalib-main-white: #FFFFFF;
	--uvalib-main-black: #000000;

	/*Secondary Brand Colors*/
	--uvalib-secondary-web-orange: rgb(235, 95, 12);
	--uvalib-secondary-web-blue: #141E3C;
	--uvalib-secondary-light-gray: #F1F1F1;
	--uvalib-secondary-medium-gray: #DADADA;
	--uvalib-text-grey: #595959;
	--uvalib-text-dk-grey: #474747;
	--uvalib-text-almost-black: #212121;
	--uvalib-secondary-emergency-red: #E00000;
	--uvalib-secondary-cyan: rgb(0, 159, 223);
	--uvalib-secondary-yellow: #FDDA24;
	--uvalib-secondary-teal: #25CAD3;
	--uvalib-secondary-magenta: #EF3F6B;
	--uvalib-secondary-green: #008000;

	/*Custom SLab Colors*/
	--blue-alt-dark:#005679;
	--blue-alt:#007BAC;
	--blue-alt-light:#55C4EC;
	--blue-alt-lighter:#91D8F2;
	--blue-alt-lightest:#BFE7F7;
	--teal-darker:#16777C;
	--teal-dark:#1DA1A8;
	--teal:#25CAD3;
	--teal-light:#5BD7DE;
	--teal-lightest:#C8F2F4;
	--grape:rgb(111, 45, 189);
	--pale-aqua:rgb(184, 208, 235);
	--diamond: rgb(185, 250, 248);
	--darkpastelpurple: rgb(154, 119, 210);
	--medskyblue:rgb(117, 227, 239);

	/* Colors from SLab rainbow vines-hand logo */
	--logo-red-orange:#FE5102
	--logo-light-orange:#FEA607
	--logo-yellow:#FED80B
	--logo-lime-green:#A3CE13
	--logo-jade-green:#2EC378
	--logo-aqua-blue:#06C5D7
	--logo-sky-blue:#179EF9
	--logo-bubblegum-pink:#F47EA2
	--logo-grape-purple:#AF78D5

}


* {
	box-sizing: border-box;
}

html,body {
    margin:0;
    padding:0;
}

html {
background: white;
}

body {
	background-color: transparent;
}

#banner {
	width: 100%;
	flex: 1;
	background-image: url('/assets/tiles/hip-square.png');
	background-attachment:fixed;

	a {
		text-decoration:none;
	}

	h1 {
		font-weight: 900;
		font-size: 3rem;
		margin:1rem 1rem 0;
		@media screen and (min-width: 800px) {
			font-size: 5rem;
			margin:2rem 3rem 0;
		}

		a {
			color: var(--blue-alt-dark);
		}
	}
}

#scholarslab-header {
	background: white;
}

#scholars-lab-logotype {
	display: block;
	width: 300px;
	text-decoration:none;
}

#primary-navigation {
	padding: 1rem 1rem 3rem;
	flex:1;
	width: 100%;
	background-image:
	url('/assets/tiles/hip-square.png');
	background-attachment: fixed;
	background-size: auto;
	@media screen and (min-width: 800px) {
		padding: 0 3rem 3rem;
	}

	ul {
		display: flex;
		gap: 1rem;
		list-style:none;
		margin:0;
		padding:0;
	}

	li:after {
		content: '';
		display: block;
		height: 3px;
		width: 0px;
		margin: auto;
		background: transparent;
		transition: width .5s ease, background-color .5s ease;
	  }
	  li:hover:after {
		width: 100%;
		background: var(--blue-alt);
	  }
	a {
		text-decoration:none;
		&:link,
		&:visited {}
		&:hover,
		&:focus {}
		&:active {}
	}
}

main {
	flex: 3;
	padding: 1rem;
	background: white;
	@media screen and (min-width: 800px) {
		padding: 3rem 20vw 3rem 3rem;
	}


	h1 {
		margin:0;

		@media screen and (min-width: 800px) {
			font-size: 3rem;
		}
	}

	h2 {
		margin-bottom:0;

		& + p {
			margin-top: 0;
		}

		& + h3 {
			margin-bottom:0;
		}
	}
	h3 {
		margin-bottom:0;
		& + p {
			margin-top: 0;
		}
	}
}