<div class="project">
  <h3> {{ project.name }}</h3>
  <div class="project-image">
    <img src="{{ project.image_path }}">
  </div>
  <div class="project-description">
  {{ project.description }} More information can be found at the <a href="{{ project.url }}">project's homepage</a>.
  </div>
{% for cohort in project.cohort %}
{% for cohort_data in site.data.cohorts %}
{% if cohort_data.number == cohort %}
  <div class="cohort-list">
    <h4 id="cohort-date">{{ cohort_data.date }}</h4>
    <ul>
  {% for person in site.data.fellows %}
  {% if cohort == person.cohort %}
      <li>{{ person.name | remove: '<p>' | remove: '</p>' }}</li>
  {% endif %}
  {% endfor %}
    </ul>
  </div>
{% endif %}
{% endfor %}
{% endfor %}
{% if project.awards %}
  <div class="project-awards">
    <h4 class="heading">Awards</h4>
    <ul>
    {% for award in project.awards %}
      <li>{{ award }}</li>
    {% endfor %}
    </ul>
  </div>
{% endif %}
{% if project.publications | size  > 1 %}
<div class="project-publications">
<h4 class="heading">Publications</h4>
<ul>
{% for publication in project.publications %}
<li>{{ publication }}</li>
{% endfor %}
</ul>
</div>
{% endif %}

</div>