// Imports -------------------------------------------------------------------

@import "compass";
@import "susy";

// Settings ------------------------------------------------------------------

$legacy-support-for-ie6         : false;
$legacy-support-for-ie7         : false !default;
$legacy-support-for-ie8         : false !default;
$ie                             : false !default;

$show-column-grid-backgrounds   : false;
$show-baseline-grid-backgrounds : false;
$show-grid-backgrounds          : false;
