// Imports -------------------------------------------------------------------
@import "base";
@import "normalize";
@import "mixins";
@import "fonts";
@import "trac";

$total-cols: 1;
$col-width: 92%;
$gutter-width: 4%;
$side-gutter-width: 0;

#container {
  @include container;
  @include susy-grid-background;
}

html {
    border-top: 4px solid #bde;
    padding: 30px 0;
    background: white url('http://static.scholarslab.org/images/gears-bg.png') 50% -100px no-repeat;
}

body {
    color: #333;
    font: 100%/1.5 "MuseoSlab300", monospace;
}

h1,
h2,
h3 {
    font-weight:normal;
    font-family: "MuseoSlab500";
}

h1 {
    color: #8ab;
}

h4 {
  color: #666;
}

ul,ol {
  ul,ol {
    margin:0;
  }
}

em {
    font-family: "MuseoSlab300Italic", monospace;
}

code {
    font-weight: bold;
    color: #c1272d;
}

article{

  .rss_more {
    text-align: right;
  }

  h1 {
    font-family: "MuseoSlab100";
    line-height:1.25;
  }
}

a:link,
a:visited {color: #961B1E;}
a:hover {color: #f00; text-decoration:none;}
a:active {color: #961B1E;}
a.answer {cursor: pointer;}

a img {
    border:0;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 1.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";

  span.by {
    font-weight: bolder;
  }

  span.by:before {
    content: "\2014";
  }
}

blockquote:before {
  color: #ccc;
  // content: open-quote;
  font-size: 4em;
  line-height: 1em;
  // margin-right: 25em;
  // vertical-align: -4em;
}

img {
  max-width:100%;
}

nav {
  @include columns(1);
  @include linklist;
  margin-bottom: 30px;

  ul {
    margin:0;
    padding:0;
    list-style:none;
    text-align:right;
    li {
      display:inline-block;
      border-bottom:none;
    }

  }
}

[role="main"] {
  @include columns(1);
}


#pitch {
    margin-top:0;
    color: #88AABB;
    font-size: 145%;
    line-height: 1.5em;
    font-family: "MuseoSlab500";
}

#topics img {
  text-align:center;
}
#topics ul {
  @include linklist;
}

footer[role="contentinfo"] {
  display:block;
  text-align:right;
  clear:both;
  padding-top: 30px;

  #slab-info {
    float:right;
    display:table;
    ul {
        display: table-cell;
        list-style:none;
        vertical-align:middle;
        margin-left:0;
        margin-bottom:0;
        padding-left:0;
        padding-right: 20px;
        font-size:0.8em;
        text-align:right;
        line-height: 1.5em;
        a {
        text-decoration:none;
        font-family: "MuseoSlab500";
        }
    }
  }
    #slab-logo,
    #uva-lib-logo {
       display:table-cell;
       vertical-align:middle;
       padding-left: 19px;
       border-left: 1px dotted #ddd;
    }

    #slab-logo {
        padding-right: 20px;
    }
}


