@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display:table;
    width:100%;
  }
}

@mixin fullbleed($columns: 1, $layout: 14, $verticalPadding: true ) {
    $context: $layout - ($columns * 2);

    @if $verticalPadding {
        @include bleed-y(rhythm());
    }

    @include bleed-x(span($columns of $context wide));
}

@mixin fullbackground($image: 'images/background.jpg') {
    @include background-size(cover);
    background-repeat: no-repeat;
    background-position:top center;
    background-attachment:fixed;
    @include background-image(
        linear-gradient(left, rgba($hero-color, .85), rgba($hero-color, .85)),
        url($image)
    );

    color: white;
    color: rgba(white, .9);

    a {
        color: white;
        color: rgba(white, .9);
    }

}

@mixin gridlist {
    list-style:none;
    margin:0;
    padding:0;
    overflow:hidden;

    & > * {
        @include gallery(4 of 12);
        margin-bottom: rhythm(1);

        &:nth-child(3n) {
            @include gallery(last 4 of 12);
        }

    }


    @include susy-breakpoint('940px', 18) {
        @include bleed-x(span(2 of 12 wide));
        padding:0;


        & > * {
            @include gallery(4 of 16);
            &:nth-child(3n) {
                @include gallery(4 of 16);
            }

            &:nth-child(4n) {
                @include gallery(last 4 of 16);
            }

        }
    }
}

