// @import "mixins/syntax";
@import "compass";
@import "960/grid";

@include font-face("MuseoSlab100",
font-files(
  "museoslab_100/Museo_Slab_100-webfont.woff", woff,
  "museoslab_100/Museo_Slab_100-webfont.ttf", truetype,
  "museoslab_100/Museo_Slab_100-webfont.svg", svg
), "museoslab_100/Museo_Slab_100-webfont.eot");

@include font-face("MuseoSlab300",
font-files(
  "museoslab_300/Museo_Slab_300-webfont.woff", woff,
  "museoslab_300/Museo_Slab_300-webfont.ttf", truetype,
  "museoslab_300/Museo_Slab_300-webfont.svg", svg
), "museoslab_300/Museo_Slab_300-webfont.eot");


@include font-face("MuseoSlab500",
font-files(
  "museoslab_500/Museo_Slab_500-webfont.woff", woff,
  "museoslab_500/Museo_Slab_500-webfont.ttf", truetype,
  "museoslab_500/Museo_Slab_500-webfont.svg", svg
), "museoslab_500/Museo_Slab_500-webfont.eot");


@mixin rounded($side, $radius: 10px) {
  border-#{side}-radius: $radius;
  -moz-border-radius-#{side}: $radius;
  -webkit-border-#{side}-radious: $radius;
}

$ninesixty_columns: 7;
$ninesixty-gutter-width: 40px;
$ninesixty-column-width: 100px;
$ninesixty-grid-width: 900px;

.two-column {
  @include grid-container;
  
  nav {
    @include grid(1);
    @include alpha;
    ul {
        margin:0;
        padding:0;
        list-style:none;
    }
  }

  #content {
    @include grid(6);
    @include omega;
    #topics {
        @include grid(3);
        @include alpha;
    }
    #blog {
        @include grid(3);
        @include omega;
    }
  }

  footer {
  @include grid(6);
  @include omega;
  }
}

html {
    border-top: 4px solid #bde;
    padding-top: 30px;
}

body {
    color: #333;
    font: 100%/1.5em "MuseoSlab300", monospace;
    background: transparent url('http://static.scholarslab.org/images/gears-bg.png') 50% -100px no-repeat;
}

h1,
h2,
h3 {
    font-weight:normal;
    font-family: "MuseoSlab500";
}

h1 {
    color: #8ab;
}

article h1 {
    font-family: "MuseoSlab100";
}

a:link,
a:visited {color: #961B1E;}
a:hover {color: #700; text-decoration:none;}
a:active {color: #961B1E;}

.linklist {
    list-style:none;
    margin-left:0;
    padding-left:0;
    line-height:2em;
    
    li {
        border-bottom: 1px dotted #ddd;
    }
    
    li.nolink {
        padding: 0 10px;
        color: #777;
    }
    
    li.nolink:before {
        margin:0;
        content: counter(li, square);
        padding-right: 10px;
        color: #ccc;
    }
    
    a {
        display:block;
        text-decoration:none;
        padding: 0 10px;
    }
    
    a:link {}
    a:visited {}
    a:hover {background: rgba(187,221,238,0.15)}
    a:active {}

    a:before {
        margin:0;
        content: counter(a, square);
        padding-right: 10px;
        color: #bde;
    }

    a:hover:before {
        color: #8ab;
    }
}

#pitch {
    color: #88AABB;
    font-size: 150%;
    line-height: 1.5em;
    font-family: "MuseoSlab500";
}
