// @import "mixins/syntax";
@import "compass";
@import "960/grid";

@include font-face("MuseoSlab100",
font-files(
  "museoslab_100/Museo_Slab_100-webfont.woff", woff,
  "museoslab_100/Museo_Slab_100-webfont.ttf", truetype,
  "museoslab_100/Museo_Slab_100-webfont.svg", svg
), "museoslab_100/Museo_Slab_100-webfont.eot");

@include font-face("MuseoSlab300",
font-files(
  "museoslab_300/Museo_Slab_300-webfont.woff", woff,
  "museoslab_300/Museo_Slab_300-webfont.ttf", truetype,
  "museoslab_300/Museo_Slab_300-webfont.svg", svg
), "museoslab_300/Museo_Slab_300-webfont.eot");

@include font-face("MuseoSlab300Italic",
font-files(
  "museoslab_300italic/Museo_Slab_300italic-webfont.woff", woff,
  "museoslab_300italic/Museo_Slab_300italic-webfont.ttf", truetype,
  "museoslab_300italic/Museo_Slab_300italic-webfont.svg", svg
), "museoslab_300italic/Museo_Slab_300italic-webfont.eot");

@include font-face("MuseoSlab500",
font-files(
  "museoslab_500/Museo_Slab_500-webfont.woff", woff,
  "museoslab_500/Museo_Slab_500-webfont.ttf", truetype,
  "museoslab_500/Museo_Slab_500-webfont.svg", svg
), "museoslab_500/Museo_Slab_500-webfont.eot");

@mixin rounded($side, $radius: 10px) {
  border-#{side}-radius: $radius;
  -moz-border-radius-#{side}: $radius;
  -webkit-border-#{side}-radious: $radius;
}

$ninesixty_columns: 7;
$ninesixty-gutter-width: 40px;
$ninesixty-column-width: 100px;
$ninesixty-grid-width: 900px;

.two-column {
  @include grid-container;

  nav {
    @include grid(1);
    @include alpha;
    ul {
        margin:0;
        padding:0;
        list-style:none;
        li {
        border-bottom:none;
        }
    }
  }

  #content {
    @include grid(6);
    @include omega;
    #topics {
        @include grid(3);
        @include alpha;
    }
    #blog {
        @include grid(3);
        @include omega;
    }
  }
}

html {
    border-top: 4px solid #bde;
    padding: 30px 0;
}

body {
    color: #333;
    font: 100%/1.5em "MuseoSlab300", monospace;
    background: transparent url('http://static.scholarslab.org/images/gears-bg.png') 50% -100px no-repeat;
}

h1,
h2,
h3 {
    font-weight:normal;
    font-family: "MuseoSlab500";
}

h1 {
    color: #8ab;
}

em {
    font-family: "MuseoSlab300Italic", monospace;
}

article h1 {
    font-family: "MuseoSlab100";
    line-height:1.25em;
}

a:link,
a:visited {color: #961B1E;}
a:hover {color: #f00; text-decoration:none;}
a:active {color: #961B1E;}

a img {
    border:0;
}

.linklist {
    list-style:none;
    margin-left:0;
    padding-left:0;
    line-height:2em;

    li {
        border-bottom: 1px dotted #ddd;
    }

    li.nolink {
        padding: 0 10px;
        color: #777;
    }

    li.nolink:before {
        margin:0;
        content: counter(li, square);
        padding-right: 10px;
        color: #ccc;
    }

    a {
        display:block;
        text-decoration:none;
        padding: 0 10px;
    }

    a:link {}
    a:visited {}
    a:hover {background: rgba(187,221,238,0.15)}
    a:active {}

    a:before {
        margin:0;
        content: counter(a, square);
        padding-right: 10px;
        color: #bde;
    }

    a:hover:before {
        color: #8ab;
    }
}

#pitch {
    color: #88AABB;
    font-size: 145%;
    line-height: 1.5em;
    font-family: "MuseoSlab500";
}

footer {
display:block;
text-align:right;
clear:both;
margin-left: 130px;
padding-top: 30px;
}

#slab-info {
    float:right;
    display:table;
    ul {
        display: table-cell;
        list-style:none;
        vertical-align:middle;
        margin-left:0;
        margin-bottom:0;
        padding-left:0;
        padding-right: 20px;
        font-size:0.8em;
        text-align:right;
        line-height: 1.5em;
        a {
        text-decoration:none;
        font-family: "MuseoSlab500";
        }
    }

    #slab-logo,
    #uva-lib-logo {
       display:table-cell;
       vertical-align:middle;
       padding-left: 19px;
       border-left: 1px dotted #ddd;
    }

    #slab-logo {
        padding-right: 20px;
    }

}
