$grid: hide;

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');

@media screen {

@include establish-baseline;
@include border-box-sizing;

html {
    margin:0;
    padding:0;
    background-color: #f9f9f9;
    background-image: url('/images/chalkboard.jpg');
    @include box-shadow(0 0 20px rgba(black,.125));
    background-attachment:fixed;
}

body {
    @include container($grid);
    position:relative;
    margin:0 auto;
    padding:0;
    max-width: 1200px;
    &.justified{
      text-align: justify;
    }
}

img,
svg {
    max-width:100%;
    max-height:100%;
    height:auto;
    display: block;
}

#banner,
#main,
#contentinfo {
    padding-left: span(1 of 14 wide);
    padding-right: span(1 of 14 wide);
}

#banner {
    text-align:center;
    border-bottom:1px solid #999;
    border-color: rgba(black, .25);
    @include clearfix;
    background-color:white;
    border-top: 10px solid #333;
}

#homelink {
    display:block;
    border:none;
    outline:none;
    width: 50%;
    max-width: 250px;
    margin-top: 10px;
    margin-left: auto;
    margin-right:auto;
    position:relative;

    .js & {
        float:left;
        display:block;
        max-width: 400px;
        @include adjust-font-size-to(16px);
        @include adjust-leading-to(2, 16px);
        vertical-align:middle;
    }

}

#primary-navigation {
    display:block;

    ul {
        list-style:none;
        padding:0;
        margin:0;
        text-transform:lowercase;
        letter-spacing:1px;
        @include adjust-font-size-to(16px);
        @include adjust-leading-to(1,16px);
    }

    li {
        display:inline-block;

        ul {
            display:none;
        }
    }

    a {
        text-decoration:none;
        display:block;
        padding:0 rhythm(.2,16px);
    }

    @include susy-breakpoint(1px 800px, 16) {

        .js & {
            li {
                display:block !important;

                a {
                    border-top: 1px solid rgba(black,.1);
                    @include fullbleed;
                    margin-top:0;
                    margin-bottom:0;
                    padding-top: rhythm(.25, 16px);
                    padding-bottom: rhythm(.25, 16px);

                    &:focus {
                        outline:0;
                    }

                    &:link,
                    &:visited {
                        background-color: rgba(black,.05);
                    }

                    &:hover,
                    &:focus,
                    &:active {
                        background-color: rgba(black,.1);
                    }
                }
            }
        }
    }

    @include susy-breakpoint(800px, 16) {
        background: transparent;
        margin:0;
        padding:0;
        @include span(last 10 of 14);
        text-align:right;
        clear:right;

        ul {
            @include adjust-leading-to(2,16px);
        }

        li {
            display:inline-block;
        }

        a {
            background: transparent !important;
            border:none;
            margin:0;
            padding:0 rhythm(.2,16px);
        }

    }

}

#main {
    background-color: white;
    padding-top: rhythm(1);

    .singular & {
        padding-bottom: rhythm(1);
    }

    header {
        .singular & {
            position:relative;
            @include fullbleed;
            padding:0 !important;
            margin-bottom:0;
            .custom-background {
                height: 200px;

                @media (min-width: 800px) and (min-height: 600px) {
                    height: 350px;
                }
                @media (min-width: 1200px) and (min-height: 600px) {
                    height: 450px;
                }

            }

        }

        .singular.single-people & {
            background-image: none !important;
            @include background-size(cover !important);
            background-position: top center !important;
        }

        p,ul,.post-meta, .title {
            text-align:center;
            font-weight:200;
            @include adjust-font-size-to(20px);
            @include adjust-leading-to(1,20px);
            margin:0;
        }

        .post-meta {
            margin-bottom: rhythm(1);
        }

        .contacts {
            @include adjust-font-size-to(16px);
            margin-top: rhythm(1,16px) !important;

            a, span {
                color: $base-color-light;
                text-decoration:none;
                padding-right: rhythm(.5);

                &:last-child {
                    margin-right:0;
                }
            }
        }



    }

}

#time-navigation {

    ul {
        list-style:none;
        padding-left:0;
        text-align:center;
    }

    li {
        display:inline;

        & + li:before {
            content: " · ";
            color: #999;
            display:inline;
            margin: 0 5px;
        }

        a {
            text-decoration:none;
        }

    }
}

#featured {
  background-color: #91B3E5;
  @include fullbleed;
  @include  fullbackground;
  h1 {
    margin-top: 0;
    text-align:left;
  }
}

.resources > div {
    @include span(4 of 12);
    &.growing{
        @include span(last 4 of 12);
    }
    margin-right: 0;

    & > ul {
        list-style:none;
        margin-left:0;
        padding-left:0;
       & > li {
            border-bottom: 1px solid #ccc;
        padding: rhythm(.25) 0;
        }
    }


    a {
        display:block;
        text-decoration:none;
    }

}

#pitch {
   padding-top: rhythm(1);
 }

    #projects {
      background: #fafafa;
      border-top: 1px solid #ddd;
      @include fullbleed(1, 14, false);
      padding-top: rhythm(2);
      padding-bottom: rhythm(2);
      > div:last-child {
          margin-top: rhythm(1);
      }

      img {
        max-height: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .pagination {
    text-align:justify;
    @include clearfix;
    @include leader(2);
    @include trailer(2);

    li {
        display:inline-block;
        float:left;

        & + li {
            float:right;
        }

    }

    a {
        border: 2px solid #ccc;
        border-color: rgba(black, .1);
        padding-left: rhythm(.5);
        padding-right: rhythm(.5);
        display:block;
    }
}

.local-navigation {
    border-top:1px solid #ccc;

    ul {
        list-style:none;
        margin-top:0;
    }

    a {
        display:block;
        text-decoration:none;
        font-weight: 600;
        border-bottom: 1px solid #ccc;
        padding: rhythm(.25);

        &:hover,
        &:focus,
        &:active {
            background-color: #e0e0e0;
            background-color: rgba(black, .05);
        }

    }
}

article {

    footer {
        @include leader(2);
        @include trailer(2);
        @include padding-leader(1);
        @include padding-trailer(1);
        border:1px solid #ccc;
        border-width: 1px 0;

        .author_image_link {
            float:left;
            display:block;
            width: 80px;
            height: 80px;
        }

        .author-name,
        .author-description {
            margin-left: 90px !important;
        }

        p {
            @include adjust-font-size-to(15px);
            @include adjust-leading-to(0.75, 15px);
            margin:0;

            &.author-name {
                font-weight:bold;

                a {
                    text-decoration:none;
                }
            }

        }
    }

    & + article:before {
        display:block;
        content: " ";
        height:rhythm(2);
        width: 100px;
        border-top: 2px solid #ccc;
        border-top-color: rgba(black, .1);
        margin: rhythm(2) auto 0;
    }

    .home & + article:before {
        margin: rhythm(1) auto 0;
        height: rhythm(1);
    }

}

.singular .entry-content {
    margin:0 0 rhythm(1);
    > p {
        &:first-of-type {
            margin-top:0;
        }
    }

}

/* Footer styles */
#contentinfo {
    border-top:1px solid #ccc;
    clear:both;
    background-color: #363636;
    color: #ccc;
    letter-spacing: .05em;
    @include background-image(
        url('/images/chalkboard.jpg')
    );
    background-attachment: fixed;
    text-align:center;
    padding-top: rhythm(1);

    @include susy-breakpoint('800px', 16) {
        padding-top: rhythm(2);
    }

    .menu ul {
        margin-bottom:0;
        list-style:none;

        li {
            display:inline-block;
        }

    }

    a {
        text-decoration:none;

        &:link,
        &:visited {
            color: #ccc;
            color: rgba(white, .75);

            i {
                background-color: #292929;
                background-color: rgba(black,.35);
                color: #999;
            }

            svg path {
                fill: #ccc;
                fill: rgba(white, .75);
            }

        }

        &:hover,
        &:focus,
        &:active {
            color: #f0f0f0;
            color: rgba(white, .9);

            i {
                background-color: #222;
                background-color: rgba(black,.75);
                color: #fff;
            }

            svg path {
                fill: #fff;
            }

        }
    }

}

#slab-link,
#uva-library-link {
  content: " ";
  display:inline-block;
  vertical-align:middle;
  max-width: 250px;
  margin:0;
  padding: 5px 10px;

  svg {
      vertical-align:middle;
      max-height: $base-line-height;
  }

}

#slab-link {
    max-width:130px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    @include susy-breakpoint(580px, 16) {
    display:inline-block;
    border-right: 1px solid #777;
    padding-right: 20px;

    }
}

.vcard {
    @include adjust-font-size-to(16px);
    @include adjust-leading-to(1,16px);
    margin:0;
    @include padding-leader(1,16px);
    @include padding-trailer(1,16px);

    @include susy-breakpoint('800px', 16) {

    @include padding-trailer(2,16px);

    }

    .org {
        @extend .visuallyhidden;
    }

    .street-address,
    .tel {
        display:block;
    }

    @include susy-breakpoint(600px, 16) {

    .street-address,
    .tel {
        display:inline;
    }

    .street-address:after {
        content: ",";
    }

    .tel {
        &:before {
            content: " · ";
            color: #666;
            margin: 0 .25em;
        }
    }

    }
}


.social {
    list-style:none;
    margin:0;
    padding:0;
    margin-top: rhythm(1,16px);

    li {
        display:inline-block;
    }

    span {
        @extend .visuallyhidden;
    }

    i {
        @include adjust-font-size-to(28px);
        @include adjust-leading-to(2,28px);
        width:rhythm(2,28px);
        height:rhythm(2,28px);
        @include border-radius(50%);
    }

}


// Media query for 800px. Sets layout to 16 columns.
@include susy-breakpoint('800px', 16) {

body {
    @include container($grid);
}

#banner {
    @include clearfix;
    @include pad(1);
}

#homelink {
    @include span(4 of 14);
    text-align:left;
}


#main {
    @include pad(2);

    .singular & {
        padding-top: rhythm(1);

        header {
            @include fullbleed(2,16);
            margin-bottom:0;
        }
    }

    blockquote {
        @include bleed(1);
        padding-left:0;
        padding-right:0;
    }

}

#featured {
    @include fullbleed(2,16);
    @include clearfix;
    padding-left:span(1 wide of 12);
    padding-right:span(1 wide of 12);

    #current-project {
        @include span(6 of 12);
    }
    #local-info {
        @include span(last 6 of 12);
        margin-bottom: rhythm(1);
    }

}

#blog {
    clear: both;
    padding-top:0;
    h2 {
        border-top: 1px solid rgba(white, 0.2);
        padding-top: rhythm(0.5);
    }

    ul {
        list-style:none;
        padding-bottom:rhythm(0.5);
    }

    li {
        @include span(4 of 12);
        &:nth-child(3n) {
            @include span(last 4 of 12);
        }
    }
}

#projects {
    @include fullbleed(2,16, false);
    @include clearfix;
    padding-left:span(2 wide of 12);
    padding-right:span(2 wide of 12);
}

#projects > div {
    @include span(6 of 12);
    &:last-child {
        margin-top:0;
        @include span(last 6 of 12);
    }
}

}

#main{
  padding-bottom: 30px;
}

// Media query for 940px. Sets layout to 18 columns.
@include susy-breakpoint('940px', 18) {

  body {
      @include container($grid);
  }

  #main {
      @include pad(3);

      blockquote {
          @include bleed(2);
          padding-left:0;
          padding-right:0;
      }

      .singular & {

          header {
              @include fullbleed(3,18);
              margin-bottom:0;
          }
      }

  }

  #featured {
      @include clearfix;
      @include fullbleed(3,18);
      padding-left:span(1 wide of 12);
      padding-right:span(1 wide of 12);
  }

  #projects {
      @include clearfix;
      @include fullbleed(3,18, false);
      padding-left:span(3 wide of 12);
      padding-right:span(3 wide of 12);
  }

}

@import "../lib/links";
@import "../lib/typography";
@import "../lib/tables";
@import "../lib/forms";
@import "../lib/classes";
@import "../vendor/headroom";
@import "../vendor/responsive-nav";

}

.project-image{
  max-width: 350px;
  margin-left: 15px;
  margin-bottom: 15px;
-webkit-border-radius: 0.3em;
-moz-border-radius: 0.3em;
-ms-border-radius: 0.3em;
-o-border-radius: 0.3em;
border-radius: 0.3em;
-webkit-box-shadow: rgba(0,0,0,0.15) 0 1px 4px;
-moz-box-shadow: rgba(0,0,0,0.15) 0 1px 4px;
box-shadow: rgba(0,0,0,0.15) 0 1px 4px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
border: #fff 0.5em solid;
  @media (max-width: 1120px){
      display: none;
  }
}

#bumper{
  padding-bottom: 120px;
}

.project-publications ul, .project-awards ul, .cohort-list ul{
  overflow-x: hidden;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 0px;
}

.project-awards, .project-publications{
  padding-left: 14px;
  padding-right: 14px;
}

.clear{
  clear:both;
}

.cohort-list{
  float: left;
  margin-right: 14px;
}

.project-description{
  width: 50%;
  padding-bottom: 14px;
  float: left;
  @media (max-width: 1120px){
      width: 100%;
  }
}

.project-image{
  float: right;
  width: 50%;
}

.mobile-clear{
  clear: both;
  @media (min-width: 1120px){
      display: none;
  }
}

#404{
  min-height: 400px;
}

main{
  padding-bottom: 30px;
}

div#pitch{
  margin-top: 30px;
}

#featured{
    height: 10em;
}