<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>    
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% endif %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <link rel="author" type="text/plain" href="/humans.txt" />
    {% for css in page.css %}
      <link rel="stylesheet" href="{{ css }}" type="text/css" />
    {% endfor %}
    <link href="/atom.xml" rel="alternate" title="{{ site.title }}" type="application/atom+xml" />

    <script src="/javascripts/modernizr.min.js"></script>
    <script>
      Modernizr.load([
        {
          test: Modernizr.mq(),
          nope: ['/javascripts/respond.min.js',
          '/javascripts/selectivizr.min.js']
        },
        {
          load: '//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js',
          complete: function () {
            if ( !window.jQuery ) {
                  Modernizr.load('/javascripts/jquery.min.js');
            }
          }
        }
        {% for js in page.javascript %}
        ,{
          load: '{{ js }}'
        },
        {% endfor %}
      ]);
    </script>

  </head>
  <body>
    <div id="container">
      <header role="banner">
        <h1><a href="/"><img src="http://static.scholarslab.org/images/praxis-program-logo.png" alt="{{ site.title }}" /></a></h1>
      </header>
        <nav id="nav-primary">
           <ul>
            <li><a href="/about.html">About</a></li>
            <li><a href="/charter.html">Charter</a></li>
            <li><a href="/people.html">People</a></li>
            <li><a href="/">Topics</a></li>
            <li><a href="/tutorials/">Tutorials</a></li>
            <li><a href="/exercises/">Exercises</a></li>
          </ul>
        </nav>
      <div role="main">
      {{ content }}
      </div><!-- #content -->
      <footer role="contentinfo">
        <div id="slab-info">
          <ul>
            <li><a rel="license" class="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons License</a></li>
            <li><a href="http://www.scholarslab.org/category/praxis-program/feed/" class="feed">Subscribe to our Feed</a></li>
            <li>{% email %} praxis@collab.itc.virginia.edu {% endemail %}</li>
          </ul>
          <a href="http://scholarslab.org" id="slab-logo"><img src="http://static.scholarslab.org/images/slab-logo-rgb-125px.png" title="Scholars' Lab" alt="Scholars' Lab" /></a>
          <a href="http://lib.virginia.edu/" id="uva-lib-logo"><img src="http://static.scholarslab.org/images/uvalib.png" alt="University of Virginia Libraries" /></a>
        </div>
      </footer>
    </div><!-- #container -->

    {% if site.google_analytics %}
    <!-- google analytics async -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ site.google_analytics.account }}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% endif %}
    <!--[if lt IE 7 ]>
      <script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
      <script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
    <![endif]-->
  </body>
</html>

