<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% endif %}
    <meta charset="utf-8">
    <link rel="stylesheet" media="screen" href="/stylesheets/screen.css" type="text/css" />
    {% for css in page.css %}
      <link rel="stylesheet" href="{{ css }}" type="text/css" />
    {% endfor %}
    <link href="/atom.xml" rel="alternate" title="{{ site.title }}" type="application/atom+xml" />
    <script src="http://static.scholarslab.org/javascripts/modernizr-2.0.6.min.js"></script> 
  </head>
  <body>
    <div id="container" class="two-column">
      <header id="header">
        <h1><a href="/"><img src="http://static.scholarslab.org/images/praxis-program-logo.png" alt="{{ site.title }}" /></a></h1>
        </header>
          <nav>
           <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about.html">About</a></li>
            <li><a href="/people.html">People</a></li>
          </ul>
          </nav>
        <div id="content">
          {{ content }}
        </div><!-- #content -->
      <footer id="footer">
          
          <div id="slab-info">
            <ul>
                <li><a rel="license" class="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons License</a></li>
                <li><a href="http://www.scholarslab.org/category/praxis-program/feed/" class="feed">Subscribe to our Feed</a></li>
                <li><a href="mailto:praxis@collab.itc.virginia.edu" class="email">Contact Us</a></li>
            </ul>
            <a href="http://scholarslab.org" id="slab-logo"><img src="http://static.scholarslab.org/images/slab-logo-rgb-125px.png" title="Scholars' Lab" alt="Scholars' Lab" /></a>
          </div>
      </footer>
    </div><!-- #container -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    {% for js in page.javascript %}
      <script type="text/javascript" src="{{ js }}"></script>
    {% endfor %}

    {% if site.google_analytics %}
    <!-- google analytics async -->
    <script type="text/javascript">
      window._gaq = [['_setAccount','{{ site.google_analytics.account }}'],['_trackPageview'],['_trackPageLoadTime']];
      Modernizr.load({
        load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
      });
    </script>
    {% endif %}

  </body>
</html>

