---
layout: page
title: Time
---

<h1>{{ page.title }}</h1>

<div class="archives meeting-notes">
  <h3><a href="/time/meeting_notes/">Meeting Notes</a></h3>
</div>

<div class="archives bibliographies">
  <h3><a href="/time/bibliographies/">Annotated Bibliographies</a></h3>
</div>

<div class="main-text">
  <h2>Praxis Posts</h2>
  <div class="all-posts">
    {% for post in site.posts %}
      {% if post.categories contains 'blog' or post.categories contains 'memo' %}
        <div class="post-info">
          <a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
